In [5]:
import phik
import pandas as pd

df = pd.read_csv("..\Model\VGChartzGamesSalesDataset.csv")
dfsample = df.sample(500)

phik_matrix = dfsample.phik_matrix()
phik_matrix

interval columns not set, guessing: ['vgchartz_score', 'critic_score', 'user_score', 'total_shipped', 'total_sales']

,name,publisher,vgchartz_score,critic_score,user_score,total_shipped,total_sales,release_date,genre,img_url
name,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.999841
publisher,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.996441,0.727115,0.000000
vgchartz_score,0.000000,0.000000,1.000000,0.380913,0.000000,0.000000,0.667007,0.926264,0.181330,1.000000
critic_score,1.000000,0.000000,0.380913,1.000000,0.799661,0.767352,0.472975,0.997734,0.161823,1.000000
user_score,1.000000,0.000000,0.000000,0.799661,1.000000,0.566761,0.383635,1.000000,0.133150,1.000000
total_shipped,0.000000,0.000000,0.000000,0.767352,0.566761,1.000000,0.000000,0.797822,0.462481,1.000000
total_sales,1.000000,0.000000,0.667007,0.472975,0.383635,0.000000,1.000000,0.000000,0.310940,1.000000
release_date,1.000000,0.996441,0.926264,0.997734,1.000000,0.797822,0.000000,1.000000,0.901220,0.966365
genre,1.000000,0.727115,0.181330,0.161823,0.133150,0.462481,0.310940,0.901220,1.000000,0.975351
img_url,0.999841,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.966365,0.975351,1.000000